%ul.nav.navbar-nav

  %h3.menu-title Menu Principal
  %li{class: "#{(params[:controller] == 'pages') ? 'active' : ''}"}
    = link_to root_url do
      = icon "home", class: "menu-icon"
      Tableau de bord

  %li{class: "#{(params[:controller] == '') ? 'active' : ''}"}
    = link_to events_url do
      = icon "calendar-o", class: "menu-icon"
      Calendrier

  %li{class: "#{(params[:controller] == '') ? 'active' : ''}"}
    = link_to '#' do
      = icon "users", class: "menu-icon"
      Contacts

  %li{class: "#{(params[:controller] == '') ? 'active' : ''}"}
    = link_to '#' do
      = icon "bolt", class: "menu-icon"
      Activités

  %li.menu-item-has-children.dropdown
    = link_to '#', class: 'dropdown-toggle', data:{toggle: 'dropdown'} do
      = icon 'shopping-cart', class: "menu-icon"
      Ventes
    %ul.sub-menu.children.dropdown-menu
      %li
        = icon 'tags'
        = link_to 'Produits', '#'


  %li{class: "#{(params[:controller] == '') ? 'active' : ''}"}
    = link_to '#' do
      = icon "bar-chart", class: "menu-icon"
      Statistiques

  %li{class: "#{(params[:controller] == '') ? 'active' : ''}"}
    = link_to '#' do
      = icon "folder", class: "menu-icon"
      Documents

  %li{class: "#{(params[:controller] == '') ? 'active' : ''}"}
    = link_to '#' do
      = icon "gear", class: "menu-icon"
      Paramètres