!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1.0"}
    %title CLOUD MANAGER
    %meta{:name => "description", :content => "CRM Cloud Manager"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag "/favicon.ico"
    = csrf_meta_tags

  %body
    / Left Panel
    %aside#left-panel.left-panel
      %nav.navbar.navbar-expand-sm.navbar-default
        .navbar-header
          %button.navbar-toggler{"aria-controls" => "main-menu", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#main-menu", "data-toggle" => "collapse", :type => "button"}
            %i.fa.fa-bars
          %a.navbar-brand{:href => "./"}
            CLOUD MANAGER
          %a.navbar-brand.hidden{:href => "./"}
            CM

        #main-menu.main-menu.collapse.navbar-collapse
          = render "layouts/sidebar"


    #right-panel.right-panel
      %header#header.header
        .header-menu
          .col-sm-7
            %a#menuToggle.menutoggle.float-left
              = icon 'tasks'
            .header-left
              %button.search-trigger
                = icon 'search'
              .form-inline
                %form.search-form
                  %input.form-control.mr-sm-2{type: :text, placeholder: 'Recherche...'}
                  %button.search-close{type: :submit}
                    = icon 'close'

              .dropdown.for-notification
                %button.btn.btn-secondary.dropdown-toggle#notification{type: :button, data:{toggle: 'dropdown'}}
                  = icon 'calendar'
                  %span.count.bg-danger 5

                .dropdown-menu{'aria-labelledby' => "notification" }
                  %p.red 3 notifications
          .col-sm-5


            .user-area.dropdown.float-right
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
                = image_tag 'avatar.jpg', class: "user-avatar rounded-circle"
              .user-menu.dropdown-menu
                = link_to destroy_user_session_path, method: :delete, class: "nav-link" do
                  %i.fa.fa-power.-off>
                  Déconexion

      = yield
